$(document).ready(function() {

  //Set mapbox map view
  L.mapbox.accessToken = "<%= ENV["MAPBOX_TOKEN"] %>"


  var geojsonData = $('#map-data').data('geojson')

  var map = L.mapbox.map('map', 'fredblock.mfga25ge');
  var home  = [39.750081, -104.999703];
  map.setView(home, 13);

  var markerLayer = L.mapbox.featureLayer().addTo(map);

  markerLayer.setGeoJSON(geojsonData);



  // markerLayer.on('mouseover', function(e) {
  //   var marker  = e.layer;
  //   var popupContent = '<a target="_blank" class="popup" href="#"> </a>' +
  //                     //  '<p> <img class="popup-pic" src="' + marker.feature.properties.thumbnail + '"/> <br>' +
  //                                       marker.feature.properties.title + "<br>Title: " +
  //                                       marker.feature.properties.venue_name + "<br>Venue: "
  //                               '</p>'
  //   // http://leafletjs.com/reference.html#popup
  //   marker.bindPopup(popupContent,{
  //       closeButton: false,
  //       maxWidth: 220
  //   });
  //
  //   marker.openPopup();
  //
  // });
  //
  // markerLayer.on('mouseout', function(e) {
  //   e.layer.closePopup();
  // });

});
