$(document).ready(function() {

  //Set mapbox map view
  L.mapbox.accessToken = "<%= ENV["MAPBOX_TOKEN"] %>"

  var geolocate = document.getElementById('geolocate');

  var geojsonData = $('#map-data').data('geojson')

  var map = L.mapbox.map('map', 'fredblock.mfga25ge');
  var home  = [39.750081, -104.999703];
  map.setView(home, 13);

  L.control.locate({
      drawCircle: true,
      follow: true,
      setView: true,
      locateOptions:{maxZoom:14}
  }).addTo(map);


  var markerLayer = L.mapbox.featureLayer().addTo(map);

  markerLayer.setGeoJSON(geojsonData);






// This uses the HTML5 geolocation API, which is available on
// most mobile browsers and modern browsers, but not in Internet Explorer
// See this chart of compatibility for details:
// http://caniuse.com/#feat=geolocation
if (!navigator.geolocation) {
    geolocate.innerHTML = 'Geolocation is not available';
} else {
    geolocate.onclick = function (e) {
        e.preventDefault();
        e.stopPropagation();
        map.locate();
    };
}

// Once we've got a position, zoom and center the map on it,
// and add a single marker.
map.on('locationfound', function(e) {
    map.fitBounds(e.bounds);

    markerLayer.setGeoJSON({
        type: 'Feature',
        geometry: {
            type: 'Point',
            coordinates: [e.latlng.lng, e.latlng.lat]
        },
        properties: {
            'title': 'Here I am!',
            'marker-color': '#ff8888',
            'marker-symbol': 'star'
        }
    });

    // And hide the geolocation button
    geolocate.parentNode.removeChild(geolocate);
});

// If the user chooses not to allow their location
// to be shared, display an error message.
map.on('locationerror', function() {
    geolocate.innerHTML = 'Position could not be found';
});



  // map.on('locationfound', function(e) {
  //   map.setView(e.latlng, 16);
  // });







  // markerLayer.on('mouseover', function(e) {
  //   var marker  = e.layer;
  //   var popupContent = '<a target="_blank" class="popup" href="#"> </a>' +
  //                     //  '<p> <img class="popup-pic" src="' + marker.feature.properties.thumbnail + '"/> <br>' +
  //                                       marker.feature.properties.title + "<br>Title: " +
  //                                       marker.feature.properties.venue_name + "<br>Venue: "
  //                               '</p>'
  //   // http://leafletjs.com/reference.html#popup
  //   marker.bindPopup(popupContent,{
  //       closeButton: false,
  //       maxWidth: 220
  //   });
  //
  //   marker.openPopup();
  //
  // });
  //
  // markerLayer.on('mouseout', function(e) {
  //   e.layer.closePopup();
  // });

});
